body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
  background-color: #f0f0f0;
  color: #333;
}

body.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: inherit;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.dark-mode .card {
  background-color: #444;
  box-shadow: 0 2px 4px rgba(255,255,255,0.1);
}

h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

.dark-mode input, .dark-mode select {
  background-color: #555;
  color: #f0f0f0;
  border-color: #666;
}

button {
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}

.dark-mode button {
  background-color: #4a4a4a;
}

button:hover {
  background-color: #333;
}

.dark-mode button:hover {
  background-color: #666;
}

.budget-item {.sort-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sort-controls select {
  width: 48%;
}
  margin-bottom: 15px;
}

.budget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.budget-details {
  font-size: 14px;
  margin-bottom: 5px;
}

.progress-bar {
  background-color: #e0e0e0;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress {
  background-color: #4caf50;
  height: 100%;
}
.sort-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sort-controls select {
  width: 48%;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.icon-button{
  margin: 3px;
}
.app-container::after {
  content: "©2024 xhsprojects | MSH";
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 14px;
  color: #666;
  background-color: #ffffff; /* Optional: Add a background color */
  border: 1px solid #e0e0e0; /* Optional: Add a top border */
  border-radius: 7px;
}
